div.boolean {
    display: block;
    margin: 2px 0;
    padding: .5em;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: right 4px center;
    background-image: url(app/0.png);
    background-color: #fee;
}

div.boolean.yes {
    background-image:    url(app/1.png);
    background-color: #efe;
}
