div.boolean {
    display: block;
    margin: 2px 0;
    padding: .5em;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: right 4px center;
    background-image: url(main/0.png);
    background-color: rgba(255,0,0,.1);
}

div.boolean.yes {
    background-image:    url(main/1.png);
    background-color: rgba(0,255,0,.1);
}
