div.field {
    display: table;
    width: 100%;
    background: rgba(0,0,0,.1);
    margin: 2px 0;
}

div.field > div {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding: 2px;
}

div.field > div:last-child {
    text-align: right;
}

