div.tp4-wait {
    display: inline-table;
}

div.tp4-wait svg {
    vertical-align: middle;
}

div.tp4-wait > div {
    display: table-cell;
    vertical-align: middle;
}

div.tp4-wait > div:last-child {
    font-family: sans-serif;
    font-size: 14px;
    padding-left: 12px;
}


div.tp4-wait.fullscreen {
    position: absolute;
    left: 50%;
    top: 50%;
}

@media (orientation: landscape) {
    div.tp4-wait.fullscreen {
        margin: -25vh;
        width: 50vh;
        height: 50vh;
    }
}

@media (orientation: portrait) {
    div.tp4-wait.fullscreen {
        margin: -25vw;
        width: 50vw;
        height: 50vw;
    }
}
