div.tp4-input-description {
    display: block;
    margin: 0;
    padding: 0;
}

div.tp4-input-description > header {
    background-color: #468;
    border-radius: 12px 12px 0 0;
    color: #fff;
    font-family: sans-serif;
    font-size: 10px;
    line-height: 16px;
    height: 16px;
    padding: 0 12px;
    white-space: nowrap;
    text-overflow: ellipsis;    
    margin: 0;
}

div.tp4-input-description > section {
    background-color: #eee;
    padding: .5em;
    border: 1px solid #777;
    max-height: 256px;
    overflow: auto;
    color: #000;
}

div.tp4-input-description > footer {
    margin-top: 1em;
    text-align: center;
}
